:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --text: #434455;
  --dark-text: #2e2f42;
  --aktiv: #404bbf;
  --iris: #4d5ae5;
  --light: #f4f4fd;
  --passiv-icon: #8e8f99;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
/* скрываем заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--text);
  background: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu-conteiner {
  display: none;
}

.header-address {
  display: none;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobil-menu-gamburger-icon {
  stroke: var(--dark-text);
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
}

.logo-part {
  color: var(--dark-text);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu-container {
  position: relative;
}

.mobile-menu-close-btn {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* LOGO 
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

*/

/*  Container for PC 
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
*/

/* Header */

/*


.header-conteiner {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}
*/

/*


.logo-part {
  margin-right: 76px;
}
*/

/*
.menu-link {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--dark-text);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current-page::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 2px;
  left: 0px;
  bottom: -1px;
  background-color: var(--aktiv);
  z-index: 2;
}

.current-page {
  color: var(--aktiv);
}
*/

/*
.menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--aktiv);
}

*/

/*
.menu-conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address {
  font-family: inherit;
  font-style: normal;
  line-height: 1.5;
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-conteiner {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

*/
/*

.header-address {
  font-style: normal;
  margin-left: auto;
}

.address:hover,
.address:focus {
  color: #404bbf;
}
*/

/* Hero */

/*
.hero-section {
  background-color: var(--dark-text);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/img-name.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button-hero {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  list-style: none;
  border-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--aktiv);
}

*/

/* Advantages Section */
/*
.advantages {
  margin-top: 0;
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.title {
  margin-bottom: 8px;
  margin-top: 0;
}
.advantages-title {
  letter-spacing: 0.02em;
}

.advantages-text {
  line-height: 1.5;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;

  background-color: var(--light);
  border-radius: 4px;
  margin-bottom: 8px;
}
*/

/* doing */

/*
.doing-section {
  padding-bottom: 120px;
}

.doing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-text);
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  gap: 24px;
}
*/

/* team */

/*
.section-team {
  background: var(--light);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
  padding: 32px 0;
  border-radius: 0 0 4px 4px;
}

.name-persone {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.job-title {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--aktiv);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-icon {
  fill: var(--light);
}
 */

/*costomer */

/*
.section-costomers {
  margin-top: 0;
  padding: 120px 0;
}

.costomer-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.costomer-list-link {
  width: 100%;
  height: 100%;
  color: var(--passiv-icon);
  border: 1px solid var(--passiv-icon);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.costomer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.castomer-list-icon {
  fill: currentColor;
}

.costomer-list-link:hover,
.costomer-list-link:focus {
  border-color: var(--aktiv);
  color: var(--aktiv);
}
*/

/* footer */

/*
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer .logo-footer {
  color: var(--light);
  margin-bottom: 16px;
}
.footer-text {
  line-height: 1.5;
  color: var(--light);
  max-width: 264px;
  margin-top: 16px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 120px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-footer .social-list-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer .social-list-link:hover,
.social-list-footer .social-list-link:focus {
  background-color: #31d0aa;
}

.subscription-wraper {
  margin-left: 80px;
  position: relative;
}

.subscript-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscript-field {
  display: inline-block;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.subscript-field::placeholder {
  color: #ffffff;
}

.subscript-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subscript-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  background: var(--iris);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscript-icon {
  margin-left: 16px;
}
*/

/* Page PORTFOLIO */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.button-filtr {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;
  color: var(--iris);
  background: #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filtr:hover,
.button-filtr:focus {
  background-color: var(--aktiv);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-caption {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  margin-bottom: 8px;
  margin-top: 0;
}

.portfolio-text {
  line-height: 1.5;
  color: var(--text);
  display: inline-block;
  margin: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: absolute;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--iris);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--light);
}

.portfolio-container-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

/* -----------Backdrop-------------*/
/*
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
/*------------- form------- */
/*
.forma-main-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--dark-text);
}

.contact-form-field-wrapper {
  margin-bottom: 8px;
}

.contact-form-title {
  display: block;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--passiv-icon);
}

.contact-form-input-wrapper {
  display: block;
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--iris);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  fill: var(--dark-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--iris);
}

.contact-form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  background-color: transparent;
  outline: transparent;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment:focus {
  outline: none;
  border-color: var(--iris);
}

.contact-form-comment-wrapper {
  display: block;
  margin-bottom: 16px;
}

.contact-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.contact-form-checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--passiv-icon);
}

.contact-form-psevdo-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  margin-right: 10px;
}

input:checked ~ .contact-form-checkbox-text > .contact-form-psevdo-checkbox {
  background-color: var(--aktiv);
  border: none;
  fill: #ffffff;
}

.form-policy-text {
  color: var(--iris);
}

.contact-form-submit {
  display: block;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit:focus,
.contact-form-submit:hover {
  background-color: var(--aktiv);
}
*/
